/* General page styling */
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(180deg, #0f2027, #203a43, #2c5364);
    color: #ffffff;
    padding: 40px 20px;
    line-height: 1.6;
}

/* Titre */
h1 {
    text-align: center;
    font-family: "Century Gothic";
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(90deg, #ffffff, #fdfdfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid rgb(0, 5, 7);
    backdrop-filter: blur(10px);
    margin-top: auto;
}

/* Bouton */

/* Bouton fixe en bas à droite */
a {
    font-family: "Century Gothic";
    display: inline-block;
    padding: 12px 28px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    text-decoration: none;
    transition: 0.3s ease, transform 0.2s ease, background-color 0.3s ease;
    font-size: 13px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.37);
    background-color: rgba(56, 37, 37, 0.19); /* fond noir semi-transparent */

    /* Position fixe en bas à droite */
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 1000; /* pour être sûr qu'il reste au-dessus du contenu */
}

/* Effet au survol */
a:hover {
    transform: scale(1.1); /* grossit légèrement */
    background-color:  #1db954; /* fond un peu plus visible au survol */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* accentue l'ombre pour effet “bouton réel” */
}


/* Tableau artistes */
ul {
    list-style: none;
    padding: 0;
    margin: 40px auto;
    width: 90%;            /* IMPORTANT pour la grille */
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    font-family: "Century Gothic";
}

/* Cellule */
ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0, 5, 7);
    backdrop-filter: blur(10px);
}

/* Image artiste */
.artist-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}

/* Style de l'input */
input {
    font-family: "Century Gothic";
    display: inline-block;
    padding: 12px 28px;
    border-radius: 15px;
    color: #000000;
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    text-decoration: none;
    transition: 0.3s ease, transform 0.2s ease, background-color 0.3s ease;
    font-size: 13px;
    box-shadow: 0 6px 12px rgb(0, 0, 0);
    background-color: rgb(253, 253, 253); /* fond blanc semi-transparent */
}

/* Conteneur de l'input centré */
.input-container {
    display: flex;
    justify-content: center; /* centre horizontalement */
    margin: 20px 0;          /* un petit espace au-dessus et en-dessous */
}
