/* General page styling */
body {
    background-image: url("../img/miku.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

h1 {
    font-family: "Century Gothic";
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(90deg, #ffffff, #68c8d5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    font-family: "Century Gothic";
    display: inline-block;
    padding: 12px 28px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 10px;
    box-shadow: 0 6px 12px;
}