/* General page styling */
body {
    background-image: url("../img/miku.jpg");
    background-size: cover;         /* L’image couvre tout l’écran */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;   /* => L’image reste affichée même en scrollant */
    margin: 0;
    padding: 20px;
}

/* Titre */
h1 {
    text-align: center;
    font-family: "Century Gothic";
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(90deg, #ffffff, #68c8d5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Bouton */
a {
    font-family: "Century Gothic";
    display: inline-block;
    padding: 12px 28px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 20px;
    position: fixed;       /* Fixé en bas */
    bottom: 15px;
    right: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

/* Tableau artistes */
ul {
    list-style: none;
    padding: 0;
    margin: 40px auto;
    width: 90%;            /* IMPORTANT pour la grille */
    max-width: 1200px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    font-family: "Century Gothic";
}

/* Cellule */
ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0, 5, 7);
    backdrop-filter: blur(10px);
}

/* Image artiste */
.artist-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}
