/* General page styling */
body {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
    color: #fff;
}
