/* =========================
   GLOBAL
========================= */
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(180deg, #23404b, #4d6e7a, #405d69);
    color: #ffffff;
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* =========================
   TITRE
========================= */
h1 {
    font-family: "Century Gothic";
    font-size: 60px;
    font-weight: bold;
    padding: 20px 40px;
    margin-bottom: 40px;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    border: 1px solid rgb(0, 5, 7);
    box-shadow: 0 10px 32px rgba(255, 255, 255, 0.4);
}

/* =========================
   BOUTON "ARTIST"
========================= */
a {
    font-family: "Century Gothic";
    padding: 14px 36px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 26px;
    margin-bottom: 40px;

    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

a:hover {
    transform: scale(1.1);
    background-color: rgba(119, 201, 236, 0.53);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* =========================
   TEXTE DE PRÉSENTATION
========================= */
p {
    width: 60vw;
    max-width: 750px;
    padding: 45px;
    background: rgba(0, 0, 0, 0.32);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
    text-align: center;
    font-family: "Century Gothic";
    font-size: 22px;
    line-height: 1.7;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

/* =========================
   TEXTE PLUS VIVANT
========================= */
p strong {
    color: #68c8d5;
    font-size: 26px;
}

p {
    animation: fadeUp 1s ease forwards;
}

/* Animation douce */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* =========================
   CARTE INFO / STAT
========================= */
.info-box {
    position: absolute;
    top: 30px;
    left: 20px;
    padding: 18px 22px;
    width: 240px;
    font-family: "Century Gothic";
    font-size: 18px;
}

.info-box span {
    display: block;
    margin-bottom: 8px;
}

/* =========================
   LOGO EN HAUT À DROITE
========================= */

.info-box img {
    width: 200px;        /* taille du logo */
    height: auto;
    display: block;
}

/* =========================
   FOOTER
========================= */
.petit {
    position: absolute;
    bottom: 15px;
    right: 20px;

    font-size: 18px;
    opacity: 0.8;
}
